.Button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    white-space: nowrap;
    font-family: "Orbit", sans-serif;
}
.Button_default {
    background: #d8d8d8;
    color: #000;
    border: 2px solid #ccc;
}
.Button_default:hover {
    background: #ccc;
}
.Button_positive {
    background: #64c964;
    color: #fff;
}
.Button_negative {
    background: #fd565f;
    color: #fff;
}