.EmotionItem {
    cursor: pointer;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.EmotionItem img {
    width: 50%;
    margin-bottom: 10px;
}
.EmotionItem span {
    font-size: 18px;
}
.editor_section input {
    text-align: center;
}
.EmotionItem_off {
    background: #ececec;
    color: #000;
}
.EmotionItem_on_1 {
    background: #FFF4EA;
}
.EmotionItem_on_2 {
    background: #FDE5EC;
}
.EmotionItem_on_3 {
    background: #ffa0a0;
}
.EmotionItem_on_4 {
    background: #B7B7B7;
}
.EmotionItem_on_5 {
    background: #cfebff;
}