@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
body,html {
  margin: 0;
  width: 100%;
  background: url(./img/wall.png);
  display: flex;
  justify-content: center;
  font-family: "Orbit", sans-serif;
}
body {
  height: 100%;
}
#root {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url(./img/bg.png);
  box-shadow: rgba(100, 100, 100, 0.2) 0px 7px 29px 0px;
}
